@import url("https://fonts.googleapis.com/css2?family=Onest:wght@200;400;600&display=swap");

* {
    box-sizing: border-box;
}

body {
    background-image: url(./summer_beach.jpg);
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    font-family: "Onest", sans-serif;
    display: flex;
    flex-direction: column; 
}

.countdown-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

.large-text {
    font-size: 7rem;
    font-weight: 600;
    color: blue;
    margin: 0 2rem;
}

h1 {
    font-size: 3rem;
    color: blue;
    margin-top: 8rem;
    display: flex;
    justify-content: center;
}

.verbage {
    font-size: 2rem;
    color: blue;
    display: flex;
    justify-content: center;
}
